html{
    margin: 50px 50px;
    padding: 0 0;
}

#container{
    max-width: 300px;
    margin: 10px auto;
    background-color: #fff;
    width: 720px;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before{
    background: rgba(28, 23, 230, 0.3);
}

.twentytwenty-overlay:hover{
    background: rgba(230, 198, 23, 0.5);
}

.twentytwenty-before-label:before{
    content: "PHOTO";
}

.twentytwenty-after-label:before{
    content: 'NEGATIVE';
}